html, body {
  background-color: #eaded0;
  color: #0f0a01;
  font-family: 'Lato', sans-serif;
}

.header {
  position: relative; /* child absolute */
  margin: 0 -9999rem;
  /* add back section padding value */
  padding: 1rem 9999rem;
  background: rgba(183, 199, 189, .8);
  text-align: center;
}

h2 {
  color: #558a86;
  padding-bottom: 5px;
}

h3 {
  color: #fff;
  padding-bottom: 5px;
}

h1, h4, h5, h6 {
  color: #0f0a01;
  padding-bottom: 5px;
}

p {
  font-size: 1.25em;
  color: #0f0a01;
}

.center-text {
  text-align: center;
}

a {
  background-color: #558a86;
  padding: 5px 10px;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 5px;
}

a:hover {
  background-color: #b7c7bd;
  padding: 5px 10px;
  color: #fff;
  letter-spacing: 2px;
  border-radius: 5px;
  text-decoration: none;
}

input {
  margin: 5px;
  border: none;
  padding: 5px 10px;
  border: 2px solid #eaded0;
}

input[type=submit], .btn, .btn:hover {
  background-color: #dbb700;
  border-radius: 0px;
  border: none;
  padding: 5px 10px;
}

.box {
  padding: 50px 10px;
}

#freezer {
  background-color: #0095a3;
}

#freezer-list {
  padding: 5px 10px;
  margin: 10px;
  background-color: #0095a3;
  border-radius: 5px;
  font-weight: bolder;
  color: #fff;
  letter-spacing: 2px;
}

#freezer:hover {
  background-color: rgba(0, 149, 163, 0.5);
}

#fridge {
  background-color: #a5a6a9;
}

#fridge-list {
  padding: 5px 10px;
  margin: 10px;
  background-color: #a5a6a9;
  border-radius: 5px;
  font-weight: bolder;
  color: #fff;
  letter-spacing: 2px;
}

#fridge:hover {
  background-color: rgba(165, 166, 169, 0.5);;
}

#pantry {
  background-color: #fe9f97;
}

#pantry-list {
  padding: 5px 10px;
  margin: 10px;
  background-color: #fe9f97;
  border-radius: 5px;
  font-weight: bolder;
  color: #fff;
  letter-spacing: 2px;
}

#pantry:hover {
  background-color: rgba(254, 159, 151, 0.5);;
}

input:focus, .btn:focus {
  outline: none;
  border: 2px solid #fbae17;
  box-shadow: 0 0 5px rgba(251, 174, 23, 1);
}

label {
  margin: 10px;
}

#add-item-toggle {
  display: none;
}
